@*<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>*@
@{
    ViewBag.Title = "Начало";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h2>Добре дошли в новия информационен портал за футболна статистика "Футболна Зона"</h2>
            
        </hgroup>
        <p class="welcome">
           Информационната система "Футболна Зона" е в ранна бета версия, което означава, че има доста неща да се подобряват,
           но това ще стане с течение на времето. През определен интервал от време ще бъде обновявана, както информацията в 
           базата от данни, така и дизайна и функционалноста на системата, така че очаквайте много скоро пълната версия на 
           "Футболна Зона".
            <p>Очаквайте подробности...</p>
        </p>
    </div>
</section>
}

<h2>Последни новини:</h2>

<ol class="round">
    <li class="one">
        <h5>Информационната система "Футболна Зона" отвори врати!! <span style="color:Black;">( 15.06.2012г. )</span></h5>
       Днес на 15.06.2012г. "Футболна зона" v1.0 е готова за употреба!!
       Разгледайте функциите и възможностите, които предлага за момента и много скоро очаквайте нови промени!
    </li>
    <li class="two">
        <h5>Добавени са нови данни в страницата "Футболни мачове"! <span style="color:Black;">( 15.06.2012г. )</span></h5>
        Можете да разгледате новите неща във страницата "Футболни мачове".
    </li>
    <li class="three">
        <h5>Регистрацията на потребители е отворена!!! <span style="color:Black;">( 15.06.2012г. )</span></h5>
        Регистрирайте вашите акаунти сега и когато бъде отворена секцията за коментари, вие ще можете да 
        коментирате любимите си отбори и ще можете да използвате други допълнителни функции.
    </li>
</ol>

<section class="features">
    <section class="feature">
        <img src="~/Images/ft.jpg" alt="" />
        <h3>Горещи новинин</h3>
        <p>
            Започна Евро 2012. Следете всички актуални новини около него на <a href="http://euro2012.gong.bg/" target="_blank">
            Euro2012.gong.bg </a> 
        </p>
    </section>
    <section class="feature">
        <img src="~/Images/fb.jpg" alt="" />
        <h3>Резултати на живо:</h3>
        <p>
          Следете всички резултати на живо във <a href="http://livescore.com/" target="_blank">LIVESCORE </a>.
        </p>
    </section>
    <section class="feature">
        <img src="~/Images/fe.jpg" alt="" />
        <h3>Футболни артикули</h3>
        <p>
            Място за реклама...
        </p>
    </section>
</section>


@*
@{
    ViewBag.Title = "Начало";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h2>Добре дошли в новия информационен портал за футболна статистика "Футболна Зона"</h2>
            
        </hgroup>
        <p class="welcome">
           Информационната система "Футболна Зона" е в ранна бета версия, което означава, че има доста неща да се подобряват,
           но това ще стане с течение на времето. През определен интервал от време ще бъде обновявана, както информацията в 
           базата от данни, така и дизайна и функционалноста на системата, така че очаквайте много скоро пълната версия на 
           "Футболна Зона".
            <p>Очаквайте подробности...</p>
        </p>
    </div>
</section>
}

<h2>Последни новини:</h2>

<ol class="round">
    <li class="one">
        <h5>Информационната система "Футболна Зона" отвори врати!! <span style="color:Black;">( 15.06.2012г. )</span></h5>
       Днес на 15.06.2012г. "Футболна зона" v1.0 е готова за употреба!!
       Разгледайте функциите и възможностите, които предлага за момента и много скоро очаквайте нови промени!
    </li>
    <li class="two">
        <h5>Добавени са нови данни в страницата "Футболни мачове"! <span style="color:Black;">( 15.06.2012г. )</span></h5>
        Можете да разгледате новите неща във страницата "Футболни мачове".
    </li>
    <li class="three">
        <h5>Регистрацията на потребители е отворена!!! <span style="color:Black;">( 15.06.2012г. )</span></h5>
        Регистрирайте вашите акаунти сега и когато бъде отворена секцията за коментари, вие ще можете да 
        коментирате любимите си отбори и ще можете да използвате други допълнителни функции.
    </li>
</ol>

<section class="features">
    <section class="feature">
        <img src="~/Images/ft.jpg" alt="" />
        <h3>Горещи новинин</h3>
        <p>
            Започна Евро 2012. Следете всички актуални новини около него на <a href="http://euro2012.gong.bg/" target="_blank">
            Euro2012.gong.bg </a> 
        </p>
    </section>
    <section class="feature">
        <img src="~/Images/fb.jpg" alt="" />
        <h3>Резултати на живо:</h3>
        <p>
          Следете всички резултати на живо във <a href="http://livescore.com/" target="_blank">LIVESCORE </a>.
        </p>
    </section>
    <section class="feature">
        <img src="~/Images/fe.jpg" alt="" />
        <h3>Футболни артикули</h3>
        <p>
            Място за реклама...
        </p>
    </section>
</section>*@