<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    
    <connectionStrings>
      <add name="DefaultConnection " 
        connectionString="Server=660779b4-feaa-4103-9946-a071015c8063.sqlserver.sequelizer.com;Database=db660779b4feaa41039946a071015c8063;User ID=potdsyjyafpzldwt;Password=gnovc3Q8xG588pLdHSwn5g22PMYwXNVYR7d7XoUS2VRkcw8THFvSTNXauuPxcsjS;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
 
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>