@model FootballZoneMVC4.Models.PlayersInTeamsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>PlayersTeam</legend>
    
    @Html.DisplayFor(m=>m.Player)


    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.Player.ImageUrl)
    </div>
    <div class="display-field">
        @Html.Image(Model.Player.ImageUrl, Model.Player.PlayerNames)
    </div>*@


</fieldset>
<p>
   
    @Html.ActionLink("Back to List", "../Teams/viewTeams")
</p>



