@using FootballZoneMVC4.Models;
@model List<RefereesViewModel>

@{
    ViewBag.Title = "Съдии";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Вижте съдиите</h2>

@foreach (var item in Model)
{
    <div class="cont">
        <div class="image">@Html.Image(item.ImageUrl, item.RefereeNames) </div>
        <div class="name"><p class="nam">@item.RefereeNames </p></div>
        <text class="info">@item.Biography </text>
     </div>   
        
   
}