@{
    ViewBag.Title = "Change Password";
}
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Вашата парола беше сменена успешно.</h2>
</hgroup>
