@using FootballZoneMVC4.Models
@model List<TournamentsViewModel>

@{
    ViewBag.Title = "Турнири";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align=""center">Виж турнирите</h2>


@foreach (var item in Model)
{
    <div class="cont">
        <div class="image">@Html.Image(item.ImageUrl, item.Name) </div>
        <div class="name"><p class="nam">@item.Name </p> <p>Организиран от: @item.Assosiation </p></div>
        <text class="info">@item.Information </text>
     </div>   
        
   
}


