@model MVCForum.Web.Models.UserProfile

@{
    ViewBag.Title = "UserProfile";
}

<h2>User Profile for @Model.UserName</h2>

<div class="fullUserProfile">

    <strong>The User Id: <span>@Model.UserId</span></strong> <br/>
    <strong>UserName: <span>@Model.UserName </span></strong>

</div>




