@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Грешка";
}

<hgroup class="title">
    <h1 class="error">Грешка.</h1>
    <h2 class="error">Възникна проблем докато се опитвахме да обработим вашата заявка. :( Моля опитайте отново!</h2>
</hgroup>
