@model IEnumerable<FootballZoneMVC4.DAL.Player>

@foreach (var item in Model) {
    <tr data-pkey="@item.PlayerID">
        <td>
            @Html.DisplayFor(modelItem => item.PlayerNames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Biography)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td class="rowControl hidden">
            <a href="#makeRowEditable" class="makeRowEditable">Edit</a> |
            <a href="#deleteRow" class="deleteRow">Delete</a>
        </td>
    </tr>
}
